#{extends 'main.html' /}
#{set title:'Listagem de Veterinarios cadastradas' /}



<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
	  <form class="d-flex" role="search">
		<input class="form-control me-2" type="text" placeholder="Termo de busca" aria-label="Search" value="${buscar}" name="buscar">
		<input class="btn btn-outline-success" type="submit" value="Buscar"/>
	  </form>
	</div>
  </nav>

<table class="table table-dark table-striped-columns" border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email Comercial</th>
      <th>Especialição</th>
      <th>Ações</th>
     
    </tr>
  </thead>
  <tbody class="table-group-divider">
  	#{list items:vetLista, as:'v'}
	    <tr>
	      <th>${v.id}</th>
	      <td>${v.nome}</td>
	      <td>${v.emailcomercial}</td>
	      <td>${v.especializacao}</td>
	      <td>
	      	<a class="btn btn-warning" href="@{Veterinarios.editar(v.id)}">Editar</a>
	      	<a class="btn btn-danger" href="@{Veterinarios.remover(v.id)}">Remover</a>
	      </td>
	    </tr>
	#{/list}
  </tbody>
</table>

<a class="btn btn-primary" href="@{Veterinarios.form}">Cadastrar Veterinario</a>


